*.class

# Package Files #
*.jar
*.war
*.ear

# folders # 
workloads/*
Ac/*
Cenas/*
try/*
.metadata/*
*/keys/*
target/bin/Copy of floodlightdefault.properties
target/bin/META-INF/services/net.floodlightcontroller.core.module.IFloodlightModule
target/bin/floodlightdefault.properties
target/bin/floodlightdefault.properties.learning
target/bin/net/floodlightcontroller/core/internal/Controller.java.orig
target/bin/net/floodlightcontroller/forwarding/Forwarding.java.orig
target/bin/net/floodlightcontroller/routing/Link.java.orig
target/bin/quantum.properties
target/bin/web/css/bootstrap.css
target/bin/web/css/styles.css
target/bin/web/img/floodlight.png
target/bin/web/img/glyphicons-halflings-white.png
target/bin/web/img/glyphicons-halflings.png
target/bin/web/img/logo.jpg
target/bin/web/img/openflow-logo-40px.png
target/bin/web/img/server.png
target/bin/web/img/switch.png
target/bin/web/index.html
target/bin/web/js/main.js
target/bin/web/js/models/flowmodel.js
target/bin/web/js/models/hostmodel.js
target/bin/web/js/models/portmodel.js
target/bin/web/js/models/statusmodel.js
target/bin/web/js/models/switchmodel.js
target/bin/web/js/models/topologymodel.js
target/bin/web/js/utils.js
target/bin/web/js/views/flow.js
target/bin/web/js/views/header.js
target/bin/web/js/views/home.js
target/bin/web/js/views/host.js
target/bin/web/js/views/port.js
target/bin/web/js/views/status.js
target/bin/web/js/views/switch.js
target/bin/web/js/views/topology.js
target/bin/web/lib/backbone-min.js
target/bin/web/lib/bootstrap-alert.js
target/bin/web/lib/bootstrap-dropdown.js
target/bin/web/lib/d3.v2.min.js
target/bin/web/lib/jquery.min.js
target/bin/web/lib/underscore-min.js
target/bin/web/tpl/flow-list-item.html
target/bin/web/tpl/flow-list.html
target/bin/web/tpl/header.html
target/bin/web/tpl/home.html
target/bin/web/tpl/host-list-item.html
target/bin/web/tpl/host-list.html
target/bin/web/tpl/host.html
target/bin/web/tpl/port-list-item.html
target/bin/web/tpl/port-list.html
target/bin/web/tpl/status.html
target/bin/web/tpl/switch-list-item.html
target/bin/web/tpl/switch-list.html
target/bin/web/tpl/switch.html
target/bin/web/tpl/topology.html
target/bin/web/tpl/vlan-list-item.html
target/bin/web/tpl/vlan.html
target/docs/datastore/bench/BenchClient.html
target/docs/datastore/bench/MultiFlowTypes.html
target/docs/datastore/bench/class-use/BenchClient.html
target/docs/datastore/bench/class-use/MultiFlowTypes.html
target/docs/datastore/bench/distributions/Distribution.html
target/docs/datastore/bench/distributions/class-use/Distribution.html
target/docs/datastore/bench/distributions/package-frame.html
target/docs/datastore/bench/distributions/package-summary.html
target/docs/datastore/bench/distributions/package-tree.html
target/docs/datastore/bench/distributions/package-use.html
target/docs/datastore/bench/flowsimulations/FlowSimulation.html
target/docs/datastore/bench/flowsimulations/class-use/FlowSimulation.html
target/docs/datastore/bench/flowsimulations/deviceManager/DeviceManager.html
target/docs/datastore/bench/flowsimulations/deviceManager/class-use/DeviceManager.html
target/docs/datastore/bench/flowsimulations/deviceManager/package-frame.html
target/docs/datastore/bench/flowsimulations/deviceManager/package-summary.html
target/docs/datastore/bench/flowsimulations/deviceManager/package-tree.html
target/docs/datastore/bench/flowsimulations/deviceManager/package-use.html
target/docs/datastore/bench/flowsimulations/package-frame.html
target/docs/datastore/bench/flowsimulations/package-summary.html
target/docs/datastore/bench/flowsimulations/package-tree.html
target/docs/datastore/bench/flowsimulations/package-use.html
target/docs/datastore/bench/package-frame.html
target/docs/datastore/bench/package-summary.html
target/docs/datastore/bench/package-tree.html
target/docs/datastore/bench/package-use.html
target/docs/datastore/workloads/ReportGenerator/htmlElements/ListOperations.html
target/docs/datastore/workloads/ReportGenerator/htmlElements/class-use/ListOperations.html
DeviceManagerImpl.java.orig
